<!-- Header Component -->
<div class="header-logo">
    <a href="../index.html"><img src="../Images/Top_Choice_Logo/png/탑초이스학원 로고-01(영문2-레드).png" class="header-logo-img"></a>
</div>
<div class="header-menu">
    <a href="../index.html" class="header-menu-ele header-menu-Home">Home</a>
    <a href="../Pages/DIS.html" class="header-menu-ele header-menu-DIS">DIS 입시</a>
    <a href="../Pages/Chadwick.html" class="header-menu-ele header-menu-Chadwick">Chadwick 입시</a>
    <a href="../Pages/Univ.html" class="header-menu-ele header-menu-College">미국 대학/보딩스쿨</a>
    <a href="../Pages/SAT.html" class="header-menu-ele header-menu-SAT">SAT</a>
    <a href="../Pages/Med.html" class="header-menu-ele header-menu-Med">치/의대 보장 프로그램</a>
    <a href="../Pages/Contact.html" class="header-menu-ele header-menu-Contact">상담신청</a>
</div>
